
.table-truncate__body {
    position: absolute;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-button.md-fab.md-mini {
    line-height: 19px !important;
}

/*md-option {
    color:black;
}*/

md-option .md-text {
    color: #1565C0;
}

.Eliminado {
    color: #90A4AE !important;
}