<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width" />
    <title>PAGOS</title>

    <!--Css-->
    <link href="~/Content/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="~/Content/angular-material/angular-material.layouts.css" rel="stylesheet" />
    <link href="~/Content/material-steppers/material-steppers.css" rel="stylesheet" />
    <link href="~/Content/toastr/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Content/v-accordion/v-accordion.css" rel="stylesheet" />
    <link href="~/Content/v-accordion/v-accordion-material.css" rel="stylesheet" />
    <link href="~/Content/md-table/md-data-table.min.css" rel="stylesheet" />
    <link href="~/Content/css/pago.css" rel="stylesheet" />
    <link href="~/Content/css/programar.css" rel="stylesheet" />
    <link href="~/Content/BtnFloat/mfb.css" rel="stylesheet" />
    <link href="~/Content/ng-table/ng-table.min.css" rel="stylesheet" />
    <!--Ionic Icons-->
    <link href=" http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />

    <!--JQuery-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <!--AngularJS-->
    <script src="~/Scripts/angular/angular.min.js"></script>

    <!--Angular Route-->
    <script src="~/Scripts/angular-route/angular-route.min.js"></script>

    <!--Angular Material-->
    <script src="~/Scripts/angular-material/angular-material.js"></script>

    <!--Material animate-->
    <script src="~/Scripts/angular-animate/angular-animate.min.js"></script>

    <!--Material aria-->
    <script src="~/Scripts/angular-aria/angular-aria.min.js"></script>

    <!--Material messages-->
    <script src="~/Scripts/angular-messages/angular-messages.min.js"></script>
    
    <!--Angular Moment-->
    <script src="~/Scripts/angular-moment/moment-with-locales.js"></script>
    <script src="~/Scripts/angular-moment/es.js"></script>
    <script src="~/Scripts/angular-moment/angular-moment.min.js"></script>

    <!--Material Stepper-->
    <script src="~/Scripts/material-steppers/material-steppers.js"></script>

    <!--Toastr-->
    <script src="~/Scripts/toastr/angular-toastr.js"></script>

    <!--Angular Material Icon-->
    <script src="https://use.fontawesome.com/6eae926a6e.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>*
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
    <!--Money Mask-->
    <script src="~/Scripts/angular-maskmoney/jquery.maskMoney.js"></script>
    <script src="~/Scripts/angular-maskmoney/angular-maskmoney.js"></script>
   
   <!--Vaccordion-->
    <script src="~/Scripts/v-accordion/v-accordion.js"></script>

    <!--MD TABLE-->
    <script src="~/Scripts/md-table/md-data-table.min.js"></script>

    <!--StickerMaster-->
    <script src="~/Scripts/StickerMaster/jquery.stickystack.min.js"></script>
    <!--ng-Table-->
    <script src="~/Scripts/ng-table/ng-table.min.js"></script>
    <!--My App-->
    <script src="~/Scripts/App/pagoModule.js"></script>
    <script src="~/Scripts/App/ProgramacionPago.js"></script>
    <script src="~/Scripts/App/BusquedaController.js"></script>
    <script src="~/Scripts/App/Facturas.js"></script>
    <!--FloatButtom-->
    <script src="~/Scripts/BtnFloat/mfb-directive.js"></script>

</head>
<body ng-app="PagosApp" style="background-color:#304056;height:auto">
    <div  layout="column" layout-fill >
         @RenderBody()
    </div>
</body>
</html>
